body{
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header{
	color: #f3f3f3;
	display: inline-block;
	margin-top: 0;
	padding: 0;
	vertical-align: top;
	width: 100%;
	background-color: #03a9f4;
	 box-shadow: 10px 10px 5px #888888;
}
header #logo figure img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

header #logo , header #texto{
	display: inline-block;
	vertical-align: top;
}

footer{
	background-color: #444;
	color: #f3f3f3;
	padding: 3em;
	text-align: center;
}

#texto h1, #texto p{
	margin: 0;
	padding: 0;
}
#texto a{
	color: #f3f3f3;
text-decoration: none;
}
#boton figure{
	background-color: #fff;
	border-radius: 50%;
	height:40px;
	width: 40px;
	right: -7px;
	top: 45px;
	position: absolute;
}
#boton figure a img{
	
	height:40px;
	width: 40px;
	}

#contenedor{
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	color: #444;
	margin: 0;
	padding: 0;
	width: 30%;
	margin-right:30px;
	box-shadow: 10px 10px 5px #888888;
}

#contenido{
	margin-top: 15px;
	border-bottom-right-radius: 2%;
	border-bottom-left-radius: 2%;
	vertical-align: top;
	display: inline-block;
	background-color: #f3f3f3;
	color: #444;
	padding:10px;
	width: 56%;
	margin-right: 50px;
	margin-bottom: 100px;
}
#avatar{
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#avatar figure{
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin-left: 30px;
	margin: 0;
}
#avatar figure img
{
	
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
#titulo{
	vertical-align: top;
	display: inline-block;
	margin-left: 70px;
	margin-top: 0;
}
#titulo h2{
	font-size: 30px;
}
#cont p{
	padding: 40px;
}

#users {
	padding: 15px;
}

#contenedor #users figure{
	padding: 0;
	margin:0;
	display: inline-block;
	vertical-align: top;
}


#contenedor #users figure img{
	padding: 0;
	margin:0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

#contenedor #users #informacion{
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}
#contenedor #users #informacion h3{
	padding: 0px;
	margin:0;
	font-size: 16px;
}
#contenedor #users #informacion p{
	font-size: 14px;
}

#contenedor article{
	padding: 2em;
}

#link nav ul li {
	background-color: #f3f3f3;
	text-decoration: none;
}
#link nav ul li a{
	text-decoration: none;
	color:#444;
}
#post
{
	border-radius: 2%;
	padding: 40px;
	margin-top: 50px;
	margin-bottom: 40px;
	background-color: #fff;
	border-color: #f3f3f3;
	box-shadow: 7px 7px 5px #888888;
}

#menuI{
	font-size: 40px;
	display: none;
}